.login {
  flex: 1;

  display: grid;
  grid-template-rows: 5rem auto;
}

.loginSuccess {
  flex: 1;

  display: grid;
  grid-template-rows: 5rem 3rem auto;
}

.loginHeader {
  align-self: center;
  padding-left: 1rem;
}
