.home {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.postsWrapper {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.posts {
  padding: 0 1rem;
  display: flex;
  column-gap: 3rem;
}

.post {
  flex-basis: 25rem;
  padding: 1rem;
  min-height: 25rem;
  box-shadow: 1px 1px 2px black;
  border-radius: 0.2rem;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.post:hover {
  cursor: pointer;
}

.post:active {
  box-shadow: -1px -1px 2px black;
}

.postThumbnailDate {
  margin-top: auto;
  text-align: right;
  opacity: 0.6;
}
